<p class="text-center mb-2rem">達成率： <span id="rate">0</span>%</p>

<div class="row">
  <% menu_count = 0 %>
  <% item_count = 0 %>
  <% @menu_records.each do |menu_record| %>
    <% menu_count += 1 %>
    <% if (item_records = menu_record.item_records).present? %>
      <div class="col-sm-12 col-md-4">
        <h2 class="mb-2"><%= menu_record.name %></h2>
        <div class="top-menu ">
          <div class="top-itemlist">
            <% item_records.each do |item_record| %>
              <% item_count += 1 %>
              <%= 
                form_with model: item_record,
                url: user_item_records_path(current_user, item_record) do |f|
              %>
                <%=
                  f.check_box :checked,
                  id: "customCheck#{menu_count}_#{item_count}",
                  :as => :boolean
                %>
                <%=
                  f.label item_record.name,
                  for: "customCheck#{menu_count}_#{item_count}"
                %>
                <div class="item-details">
                  <% if item_record.weight.present? %>
                    <span>
                      <%= item_record.weight %><small class="unit">kg</small>
                    </span>
                  <% end %>
                  <% if item_record.reps.present? %>
                    <span>
                      <%= item_record.reps %><small class="unit">回</small>
                    </span>
                  <% end %>
                  <% if item_record.seconds.present? %>
                    <span>
                      <%= item_record.seconds %><small class="unit">秒</small>
                    </span>
                  <% end %>
                  <% if item_record.sets.present? %>
                    <span>
                      <%= item_record.sets %><small class="unit">セット</small>
                    </span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="check-uncheck">
          <i class="fas fa-check"></i>
          <%= 
            link_to "全てにチェックを入れる",
            '#',
            class: "link-center icon-edit"
          %>
        </div>
      </div>
    <% else %>
      <div class="col-sm-12 col-md-4">
        <div class="menu-only">
          <div class="menu-label">
            <%= 
              form_with model: menu_record,
              url: user_menu_records_path(current_user, menu_record) do |f|
            %>
              <%=
                f.check_box :checked,
                id: "customCheck#{menu_count}",
                :as => :boolean
              %>
              <%=
                f.label :checked,
                class: "menu-only-label",
                for: "customCheck#{menu_count}" do
              %>
                <span><%= menu_record.name %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="top-menu ">
        <div class="top-itemlist">
          <p>メニュー内容は登録されていません。</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>