<p class="text-center mb-2rem">達成率： <span id="rate">0</span>%</p>

<div class="records row justify-content-center">
  <% menu_count = 0 %>
  <% item_count = 0 %>
  <% @menu_records.each do |menu_record| %>
    <% menu_count += 1 %>
    <% if (item_records = menu_record.item_records).present? %>
      <div class="top-menu col-sm-12 col-md-4">
        <h2 class="mb-2"><%= menu_record.name %></h2>
        <div class="top-itembox">
          <div class="top-itemlist">
            <% item_records.each do |item_record| %>
              <% item_count += 1 %>
              <%= 
                form_with model: item_record,
                url: user_item_record_path(current_user, item_record),
                method: :patch do |f|
              %>
                <%=
                  f.check_box :checked,
                  id: "customCheck#{menu_count}_#{item_count}",
                  :as => :boolean
                %>
                <%=
                  f.label item_record.name,
                  for: "customCheck#{menu_count}_#{item_count}"
                %>
                <div class="item-details">
                  <% if item_record.weight.present? %>
                    <span>
                      <%= item_record.weight %><small class="unit">kg</small>
                    </span>
                  <% end %>
                  <% if item_record.reps.present? %>
                    <span>
                      <%= item_record.reps %><small class="unit">回</small>
                    </span>
                  <% end %>
                  <% if item_record.seconds.present? %>
                    <span>
                      <%= item_record.seconds %><small class="unit">秒</small>
                    </span>
                  <% end %>
                  <% if item_record.sets.present? %>
                    <span>
                      <%= item_record.sets %><small class="unit">セット</small>
                    </span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="check-uncheck">
          <div class="all-check">
            <button type="button" class="btn-outline-original btn-sm">
              <i class="fas fa-check"></i>&nbsp;全てチェック
            </button>
          </div>
          <div class="all-uncheck">
            <button type="button" class="btn-outline-original btn-sm">
              <i class="far fa-square"></i>&nbsp;全てアンチェック
            </button>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-sm-12 col-md-4">
        <div class="menu-only">
          <div class="menu-label">
            <%= 
              form_with model: menu_record,
              url: user_menu_record_path(current_user, menu_record),
              method: :patch do |f|
            %>
              <%=
                f.check_box :checked,
                id: "customCheck#{menu_count}",
                :as => :boolean
              %>
              <%=
                f.label :checked,
                class: "menu-only-label",
                for: "customCheck#{menu_count}" do
              %>
                <span><%= menu_record.name %></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="top-itembox message-box">
          <div class="menu-message">
            <span>メニュー内容は未登録です。</span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if @date == Date.today %>
  <div class="col- update-schedule">
    <i class="fas fa-sync-alt"></i>
    <%= 
      link_to "現在のスケジュールで上書き",
      user_menu_records_path(current_user),
      class: "link-center icon-edit",
      method: :delete,
      data: { confirm: "本当にメニューを上書きしますか？" }
    %>
  </div>
<% else %>
  <div class="link-center mt-2rem">
    <i class="fas fa-angle-double-left"></i>
    <%= 
      link_to "今日のメニューへ戻る",
      root_path,
      class: "link-center icon-edit"
    %>
  </div>
<% end %>