<% provide(:title, "メニュー名の編集") %>
<h1 class="mb-3">メニュー名の編集</h1>

<div class="row row-original">
  <div class="col-md-6 col-md-6-original">
    <%= 
      form_with model: @menu,
      url: user_menu_path(current_user),
      local: true do |f|
    %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :name %>
        <%= 
          f.text_field :name,
          autofocus: true,
          autocomplete: 'name',
          class: 'form-control'
        %>
      </div>
      <div class="form-group pt-3 mb-0">
        <%= f.submit "更新", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<div class="link-center mt-2rem">
  <i class="fas fa-angle-double-left"></i>
  <%= 
    link_to "メニューへ戻る",
    user_menu_path(current_user, @menu),
    class: "link-center icon-edit"
  %>
</div>