<% provide(:title, "メニュー管理") %>
<h2 class="text-reset mb-3"><small>メニュー管理</small></h2>

<%= form_with model: @week_menus, url: user_week_menus_path(current_user), :html => {:class => "cont"}, local: true do |f| %>
  <div class="cont">
    <% day = ["月", "火", "水", "木", "金", "土", "日"] %>
    <% count = 0 %>
    <% @week_menus.collection.each_slice(3) do |day_menus| %>
      <% count += 1 %>
      <% if count <= 5 %>
        <div class="item">
          <p class="bg-secondary text-white mb-3"><%= day[(count - 1)] %></p>
          <% day_menus.each do |day_menu| %>
            <%= fields_for 'week_menus[]', day_menu do |field| %>
              <%= field.collection_select :menu_id, current_user.menus, :id, :name, {:include_blank => true}, {:class => "custom-select"} %>
            <% end %>
          <% end %>
        </div>
      <% elsif count == 6 %>
        <div class="item">
          <p class="bg-info text-white mb-3"><%= day[(count - 1)] %></p>
          <% day_menus.each do |day_menu| %>
            <%= fields_for 'week_menus[]', day_menu do |field| %>
              <%= field.collection_select :menu_id, current_user.menus, :id, :name, {:include_blank => true}, {:class => "custom-select"} %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="item">
          <p class="bg-danger text-white mb-3"><%= day[(count - 1)] %></p>
          <% day_menus.each do |day_menu| %>
            <%= fields_for 'week_menus[]', day_menu do |field| %>
              <%= field.collection_select :menu_id, current_user.menus, :id, :name, {:include_blank => true}, {:class => "custom-select"} %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-submit">
    <%= f.submit "更新", class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="border-top">
  <h2 class="text-reset pt-3 mb-3"><small>メニュー一覧</small></h2>
  <%= link_to "＋新規作成", new_user_menu_path, class: "btn btn-light menu-btn" %>
</div>
<div id="menus">
<div class="list-group menu-list">
  <% @menus.each do |menu| %>
   <%= link_to menu.name, user_menu_path(current_user, menu), class: "list-group-item list-group-item-action" %>
  <% end %>
</div>
<%= paginate @menus, remote: true %>
</div>