<% provide(:title, @menu.name) %>
<h2 class="text-reset mb-2 text-center"><small><%= @menu.name %></small></h2>
<div class="link-center">
  <%= link_to "メニュー名を変更する", edit_user_menu_path(current_user, @menu), class: "link-center" %>
</div>

<%= form_with model: @menu_items, url: user_menu_menu_items_path(current_user, @menu), local: true do |f| %>
  <table class="tbl-r05 menu-items">
    <tr class="thead bg-light">
      <th>種目</th>
      <th>重量</th>
      <th>回数</th>
      <th>秒数</th>
      <th>セット数</th>
    </tr>
    <% count = 0 %>
    <% @menu_items.collection.each do |menu_item|%>
      <%= fields_for 'menu_items[]', menu_item do |field| %>
        <% count += 1 %>
        <% if count <= 10 %>
          <tr>
            <%= render 'menu_item_form', field: field %>
          </tr>
        <% else %>
          <tr class="toggle-show">
            <%= render 'menu_item_form', field: field %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <div class="toggle-button">
    <button type="button" class="btn btn-outline-secondary btn-sm">
      <span class="toggle-hide">次の１０件を表示する</span>
      <span class="toggle-show">１０件を非表示にする</span>
    </button>
  </div>
  <div class="form-submit">
    <%= f.submit "保存", class: 'btn btn-primary' %>
  </div>
<% end %>