<% provide(:title, "種目作成") %>
<h1 class="mb-3 text-center">種目作成</h1>

<div class="row row-original">
  <div class="col-md-6 col-md-6-original">
    <%= 
      form_with model: @item,
      url: user_items_path(current_user),
      local: true do |f|
    %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :name %>
        <%= 
          f.text_field :name,
          autofocus: true,
          autocomplete: 'name',
          class: 'form-control'
        %>
      </div>
      <div class="form-group">
        <%= f.label "メイン部位", for: 'item_part_id' %>
        <%= 
          f.collection_select :part_id, @parts, :id, :name,
          {:include_blank => true},
          {:class => "custom-select"}
        %>
      </div>
      <div class="form-group">
        <%= f.label "タイプ", for: 'item_type_id' %>
        <%= 
          f.collection_select :type_id, @types, :id, :name,
          {:include_blank => true},
          {:class => "custom-select"}
        %>
      </div>
      <div class="form-group pt-3 mb-0">
        <%= f.submit "作成", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<div class="link-center mt-2rem">
  <i class="fas fa-angle-double-left"></i>
  <%= 
    link_to "種目一覧へ戻る",
    user_items_path(current_user),
    class: "link-center icon-edit"
  %>
</div>