<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
      <%= link_to "WorkOut!!", root_path, class: "navbar-brand mb-0 h1" %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to "ユーザー一覧", users_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "スケジュール管理", user_week_menus_path(current_user), class: "dropdown-item" %>
                <%= link_to "カレンダー", user_calendar_path(current_user), class: "dropdown-item" %>
                <%= link_to "メニュー一覧", user_menus_path(current_user), class: "dropdown-item" %>
                <%= link_to "種目一覧", user_items_path(current_user), class: "dropdown-item" %>
                <%= link_to "マイページ", current_user, class: "dropdown-item" %>
                <%= link_to "アカウントの編集", edit_user_registration_path(current_user), class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "アカウント作成", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                サンプルページ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "スケジュール管理", "#", class: "dropdown-item" %>
                <%= link_to "カレンダー", calendar_path, class: "dropdown-item" %>
                <%= link_to "メニュー一覧", "#", class: "dropdown-item" %>
                <%= link_to "種目一覧", "#", class: "dropdown-item" %>
                <%= link_to "マイページ", "#", class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>